<a href="https://colab.research.google.com/github/Sejal-patel/DSMP/blob/master/Python/Python_VariablesBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print Output

the reference value of x will be stored in the stack memory and the value of x will be stored in the heap memory.
id() returns the heap memory location of x.

In [ ]:
x = 45
print(id(x))

140053693177520

In [ ]:
b = 98
print(id(b))

140053693367696

# Data Types



1.   Integer
2.   float
2.   string
1.   bool
2.   None

In [ ]:
x = 4
print(type(x))

<class 'int'>

In [ ]:
y = 4.5
print(type(4.5))

<class 'float'>

In [ ]:
z = True
print(type(z))

<class 'bool'>

In [ ]:
s = 'Hello there!!'
print(type(s))
print(type(None))

<class 'str'>
<class 'NoneType'>

# Type Conversion

In [ ]:
x = 4
y = 4.5
z = 'hey'
s = '3.4'

print(int(4.5))
print(int('4'))
print(int(True))
print(int(False))
#print(int(None)) cannot be convert None to int
#print(int(s)) # throw error. since the value is of float type.
print(int(float(s)))

print(float(4))
print(float(s))
print(float(True))
print(float(False))
print(float('3'))
# print(float(z)) invalid literal

print(bool(2))
print(bool(0))
print(bool('hey'))
print(bool(None))

print(str(True))
print(type(str(True)))
print(str(4))
print(str(4.5))
print(str(None))

4
4
1
0
3
4.0
3.4
1.0
0.0
3.0
True
False
True
False
True
<class 'str'>
4
4.5
None

# Operators

**Arithematic operators**


1.   addition(+)
2.   subtraction(-)
1.   multiplication(*)
1.   division(/)
1.   modulus(%)
2.   floor division (//)
2.   exponentiation(**)

In [ ]:

def operations(a,b):
  print('add -->',a + b)
  print('sub -->',a - b)
  print('mul -->',a * b)
  print('div -->',a / b)
  print('mod -->',a % b)
  print('floor div-->',a // b)
  print('expo -->',a ** b)
  print('------------------')

operations(10,5)
operations(10.0,5.0)
operations(5, 3)

print(-3 // 2) # (-3/2 = -1.5)

add --> 15
sub --> 5
mul --> 50
div --> 2.0
mod --> 0
floor div--> 2
expo --> 100000
------------------
add --> 15.0
sub --> 5.0
mul --> 50.0
div --> 2.0
mod --> 0.0
floor div--> 2.0
expo --> 100000.0
------------------
add --> 8
sub --> 2
mul --> 15
div --> 1.6666666666666667
mod --> 2
floor div--> 1
expo --> 125
------------------
-2

string concatenation using '+' operator

In [ ]:
'Sejal ' + 'Patel'

'Sejal Patel'

In [ ]:
'12' + '23'

'1223'

In [ ]:
# can only concatenate str (not "int") to str

'12' + 12

In [ ]:
'12' + str(12)

'1212'

In [ ]:
'Sejal' * 3

'SejalSejalSejal'

**Comparision operators**



1.   ==
2.   !=
3.   >
4.   <
5.   >=
6.   <=

In [ ]:
def compare(a,b):
  print(a,b)
  print('== -->',a == b)
  print('!= -->',a != b)
  print('> -->',a < b)
  print('< -->',a > b)
  print('>= -->',a <= b)
  print('<= -->',a >= b)
  print('--------')

compare(3,4)
compare('a','b')

3 4
== --> False
!= --> True
> --> True
< --> False
>= --> True
<= --> False
--------
a b
== --> False
!= --> True
> --> True
< --> False
>= --> True
<= --> False
--------

Assignment operators



1.   =
2.   +=
1.   -=
2.   *=
1.   /=
2.   %=
1.   //=
2.   **=
1.   &=
2.   ^=
2.   <<=
1.   >>=

In [ ]:
x = 4
print(x,'\n')

x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3
print(x)
x **= 3
print(x)
x //= 3
print(x)

4

7
4
12
4.0
1.0
1.0
0.0

**Logical operator** - works on the boolean values



1.   and
2.   or
1.   not

In [ ]:
print(2 > 3 and 4 > 3)

False

In [ ]:
print(2 > 3 or 4 > 3)

True

In [ ]:
print(not 2 > 3)

True

**Special operators**



1.   Membership operators - in, not in
2.   Identity operators - is, is not

is - tells you if both the objects are present in the same location in heap memory

In [ ]:
name = ['Rahul', 'Sejal', 'Rajesh', 'orange']

print('Rahul' in name)
print('watermelon' not in name)

True
True

In [ ]:
a,b = 5,5

print(id(a),id(b))
print(a is b)

140361034242480 140361034242480
True

In [ ]:
a,b = 12,23

print(id(a),id(b))
print(a is b)

140361034242704 140361034243056
False

# Scope of variables

global variables - has global access in the c

In [ ]:
s = 'Hello'

def func():
  s = 'hey'
  print(s)

print(s)
func()
print(s)

Hello
hey
Hello

In [ ]:
# UnboundLocalError: local variable 's' referenced before assignment
s = 10

def func():
  s += 1
  print(s)

func()

In [ ]:
s = 10

def func():
  global s
  s += 1
  print(s) #11

func()

11

In [ ]:
s = 10

def func():
  s = 'hey' # name 's' is assigned to before global declaration
  print(s) # name 's' is used prior to global declaration

  global s
  s += 1
  print(s)

func()
print(s)

SyntaxError: ignored

In [ ]:
s = 10

def func():
  a = 'hey'
  print(a)

  global s
  s += 1
  print(s)

func()
print(s)

hey
11
11

In [ ]:
a = 10
def func():
  s1 = 'local'
  print(s)

  global a
  a += 1
  print(a)

func()
print(s1) # NameError: name 's1' is not defined
print(a)

In [ ]:
def greet():

    # local variable
    message = 'Hello'

    print('Local', message)

greet()

# try to access message variable
# outside greet() function
print(message) # NameError: name 'message' is not defined

In [ ]:
def greet():
  message = 'Good morning!!'
  print('inside greet() : ',message)

  def greetSejal():
    nonlocal message
    message = 'Good morning Sejal!!'
    print('inside greetSejal() : ',message)

  greetSejal()
  print('after greetSejal() : ',message)

greet()

inside greet() :  Good morning!!
inside greetSejal() :  Good morning Sejal!!
after greetSejal() :  Good morning Sejal!!