<a href="https://colab.research.google.com/github/Sejal-patel/DSMP/blob/master/Python/python_collections_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lists

In [ ]:
li = []
li = [1,2.3,True,'String',[1,'hi',False],('tuple',),{1,2.3,'set'},{'hey':'ho'}]

li = list(li)
li = list([1,2.3,True,'String',[1,'hi',False],('tuple',),{1,2.3,'set'},{'hey':'ho'}])
print(li)

[1, 2.3, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, {'hey': 'ho'}]

In [ ]:
li.append('appending')

In [ ]:
li.append([2,3])

In [ ]:
li.insert(2,{'add','set'})

In [ ]:
li.extend([9,0])

In [ ]:
print(li)

[1, 2.3, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, {'hey': 'ho'}, 'appending', [2, 3], 9, 0]

In [ ]:
print(li[2])
print(li[-2])
print(li[1:4])
print(li[0::])
print(li[::1])
print(li[::2])
print(li[len(li)::-1])
print(li[len(li)::-2])
print(li[-1::-1])
print(li[-5::-2])

{'add', 'set'}
9
[2.3, {'add', 'set'}, True]
[1, 2.3, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, {'hey': 'ho'}, 'appending', [2, 3], 9, 0]
[1, 2.3, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, {'hey': 'ho'}, 'appending', [2, 3], 9, 0]
[1, {'add', 'set'}, 'String', ('tuple',), {'hey': 'ho'}, [2, 3], 0]
[0, 9, [2, 3], 'appending', {'hey': 'ho'}, {1, 2.3, 'set'}, ('tuple',), [1, 'hi', False], 'String', True, {'add', 'set'}, 2.3, 1]
[0, [2, 3], {'hey': 'ho'}, ('tuple',), 'String', {'add', 'set'}, 1]
[0, 9, [2, 3], 'appending', {'hey': 'ho'}, {1, 2.3, 'set'}, ('tuple',), [1, 'hi', False], 'String', True, {'add', 'set'}, 2.3, 1]
[{'hey': 'ho'}, ('tuple',), 'String', {'add', 'set'}, 1]

In [ ]:
for i in range(len(li)):
  print(li[i],end=',')

print('\n')
for i in li:
  print(i,end=',')

1,2.3,{'add', 'set'},True,String,[1, 'hi', False],('tuple',),{1, 2.3, 'set'},{'hey': 'ho'},appending,[2, 3],9,0,

1,2.3,{'add', 'set'},True,String,[1, 'hi', False],('tuple',),{1, 2.3, 'set'},{'hey': 'ho'},appending,[2, 3],9,0,

In [ ]:
li[8] = 56
li[0:2] = [2,3]
print(li)

[2, 3, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, 56, 'appending', [2, 3], 9, 0]

In [ ]:
print(li.index(56))
# print(li.index(23)) # ValueError

print(li.count(0))
print(li.count(23))

8
1
0

In [ ]:
print(56 in li)
print(23 in li)

True
False

In [ ]:
print(li.remove(9))

None

In [ ]:
print(li.pop())

0

In [ ]:
print(li.pop(1))

3

In [ ]:
print(any(li))

True

In [ ]:
print(all(li))

True

In [ ]:
li.append(0)

In [ ]:
print(all(li))

False

In [ ]:
li = li + ['concat','list']

In [ ]:
print(li * 2)

[2, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, 56, 'appending', [2, 3], 0, 'concat', 'list', 2, {'add', 'set'}, True, 'String', [1, 'hi', False], ('tuple',), {1, 2.3, 'set'}, 56, 'appending', [2, 3], 0, 'concat', 'list']

In [ ]:
li = [[print(i * j) for j in range(1,4)] for i in range(1,4)]

1
2
3
2
4
6
3
6
9

In [ ]:
li

[[None, None, None], [None, None, None], [None, None, None]]

In [ ]:
[print(i*j) for i in range(1,4) for j in range(5,10)]

5
6
7
8
9
10
12
14
16
18
15
18
21
24
27

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

# Tuple

In [ ]:
tup = ('hello',)
print(type(tup))
tup = (12,[1,2,3],{'set','let'},('its tuple'),{1:'tup'})
print(tup)
tup1 = tuple(tup)
print(tup1)
tup2 = tuple((1.2,3.4,5.6))
print(tup2)

<class 'tuple'>
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'})
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'})
(1.2, 3.4, 5.6)

In [ ]:
print(tup[4])

{1: 'tup'}

In [ ]:
tup[1] = 1.1

TypeError: ignored

In [ ]:
del tup
print(tup)

NameError: ignored

In [ ]:
print(tup1)
tup1 + (2,)
print(tup1)
tup2 = tup1 + (2,)
print(tup1)
print(tup2)

tup3 = sum((tup1,tup2),())
print(tup3)
tup3 = tup1 + tup2
print(tup3)

li = [(2,4.5),(1,3.4),(0,5.5)]
sorted(li)

(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'})
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'})
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'})
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'}, 2)
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'}, 12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'}, 2)
(12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'}, 12, [1, 2, 3], {'set', 'let'}, 'its tuple', {1: 'tup'}, 2)

[(0, 5.5), (1, 3.4), (2, 4.5)]

In [ ]:
import itertools
tup4 = (item for item in itertools.chain(tup1,tup2))
print()

TypeError: ignored

In [ ]:
print(tup1 * 2)

(12, [1, 2, 3], {'let', 'set'}, 'its tuple', {1: 'tup'}, 12, [1, 2, 3], {'let', 'set'}, 'its tuple', {1: 'tup'})

In [ ]:
print(tup1)

(12, [1, 2, 3], {'let', 'set'}, 'its tuple', {1: 'tup'})

In [ ]:
for i in tup3:
  print(i,end=',')

12,[1, 2, 3],{'let', 'set'},its tuple,{1: 'tup'},12,[1, 2, 3],{'let', 'set'},its tuple,{1: 'tup'},2,

In [ ]:
print(any(tup3))

True

In [ ]:
print(all(tup3))

True

In [ ]:
tup5 = ((1,1.23),(2,0.44),(3,0),(4,-0.1))
# print(sum(tup5))

# print(min(tup5))
# print(max(tup5))
print(sorted(tup5,reverse=True))

[(4, -0.1), (3, 0), (2, 0.44), (1, 1.23)]

In [ ]:
t,u,p=(1,2,3)
print(t,u,p)

1 2 3

In [ ]:
t,u,p = (1,2,3,4,5)

ValueError: ignored

In [ ]:
t,u,p,*others = (1,2,3,4,5,6)
print(t,u,p)
print(others)

1 2 3
[4, 5, 6]

# Sets

* Unordered
* Mutable but doesnt allow mutable items
* No duplicates
* Heterogenous

Creation

In [ ]:
s1 = set()
print(type(s1))
s1 = {}
print(type(s1))
s2 = {1,2.3,True,'String',(1,'tuple')}
print(s2)
s3 = set([1,1,2,3,4,4])
print(s3)

s4 = {1,2,[3,4]}
s3 = {1,1,2,3,4,4}

<class 'set'>
<class 'dict'>
{1, 2.3, 'String', (1, 'tuple')}
{1, 2, 3, 4}

TypeError: ignored

Access

In [ ]:
s2[0]

TypeError: ignored

Edit

In [ ]:
s2[0] = 100

TypeError: ignored

Add

In [ ]:
s2.add('add element')
print(s2)
s2.update([3.4,('adding tuple',)])
print(s2)

{1, 2.3, 'add element', (1, 'tuple'), 'String'}
{1, 2.3, 'add element', 3.4, ('adding tuple',), (1, 'tuple'), 'String'}

Delete

In [ ]:
s3 = set([1,1,2,3,4,4])
s3.remove(3)
s3.discard(4)
s3.pop()
s3.discard(5)
# s3.remove(5)
# del s3[0] # TypeError: 'set' object doesn't support item deletion
s3.clear()
print(s3)
del s3

set()

Operations

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union - |
print(s1 | s2)

# intersection - &
print(s1 & s2)

# difference - '-'
print(s1 - s2)

# symmetric difference - '^'
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

Functions

In [ ]:
s1 = {1,2,3,4,5}
s2 = s1
print(s2)
s2.add(10)
print(s1)

s3 = s1.copy()
print(s3)
s3.update({9,8})
print(s3)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 3, 4, 5, 10}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s3 = s1.union(s2)
print(s1)
print(s3)
s1.update(s2)
print(s1)

s1 = {1,2,3,4,5}
s3 = s1.intersection(s2)
print(s3)
s1.intersection_update(s2)
print(s1)

s1 = {1,2,3,4,5}
s3 = s1.difference(s2)
print(s3)
s1.difference_update(s2)
print(s1)

s1 = {1,2,3,4,5}
s3 = s1.symmetric_difference(s2)
print(s3)
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
print(s1.isdisjoint(s2))
print({1, 2, 3}.isdisjoint(s2))
print(s1.issuperset(s2))
print({1, 2, 3, 4, 5, 6, 7, 8}.issuperset(s2))
print(s1.issubset(s2))
print({4, 5}.issubset(s2))

False
True
False
True
False
True

In [ ]:
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1,reverse=True))
print(any(s1))
print(all(s1))
print(any(set()))
print(all(set()))

6
27
1
8
[8, 7, 6, 3, 2, 1]
True
True
False
True

# FrozenSet

Frozenset is an immutable version of set

In [ ]:
fs1 = frozenset([1,2,3,4])
print(fs1)

fs2 = frozenset({56,67,78})
print(fs2)

fs3 = frozenset({1, 2.3, 'add element', 3.4, ('adding tuple',), (1, 'tuple'), 'String'})
print(fs3)

frozenset({1, 2, 3, 4})
frozenset({56, 67, 78})
frozenset({1, 2.3, 3.4, 'add element', (1, 'tuple'), ('adding tuple',), 'String'})

In [ ]:
for s in fs3:
  print(s)

1
2.3
3.4
add element
(1, 'tuple')
('adding tuple',)
String

In [ ]:
print(fs3.difference(fs1))
print(fs3.union(fs1))
print(fs3.intersection(fs1))
print(fs3.symmetric_difference(fs1))
print(fs3.isdisjoint(fs1))
print(fs3.issuperset(fs1))
print(fs3.issubset(fs1))

fs4 = fs1
print(fs4)
fs5 = fs4.copy()
print(fs5)

frozenset({2.3, 3.4, 'add element', ('adding tuple',), (1, 'tuple'), 'String'})
frozenset({1, 2.3, 3.4, 'add element', 2, 3, ('adding tuple',), 4, (1, 'tuple'), 'String'})
frozenset({1})
frozenset({2, 3, 4, 2.3, 3.4, 'add element', ('adding tuple',), (1, 'tuple'), 'String'})
False
False
False
frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4})

In [ ]:
fs6 = frozenset([1,2,frozenset([1,2,True,'string',frozenset([('tuple',),'string'])])])
print(fs6)

frozenset({1, 2, frozenset({1, 2, frozenset({('tuple',), 'string'}), 'string'})})

# Dictionary

* Ordered
* Keys : Immutable, Values : Mutable
* Keys,Values : Heterogeneous
* Keys : No duplicate, Values : can be duplicate

Creation

In [ ]:
d1 = {}
d1 = dict()
d1 = {'Id' : 1, 'Name' : 'Sejal', 'age' : 29, 'course' : 'ECE', 'marks' : {'Maths' : 89, 'Electronics' : 42, 'DSP' : 67, 'Network Systems' : 78}}
print(d1)
d2 = dict([(1,'name'),(2,'age'),(3,'course'),(4,'marks')])
print(d2)
d3 = {(1,2,3):'tuple',1.2 : 3.4,True:[1,2,3]}
print(d3)
d3 = {'name':'sejal','name':'satish'}
print(d3)

{'Id': 1, 'Name': 'Sejal', 'age': 29, 'course': 'ECE', 'marks': {'Maths': 89, 'Electronics': 42, 'DSP': 67, 'Network Systems': 78}}
{1: 'name', 2: 'age', 3: 'course', 4: 'marks'}
{(1, 2, 3): 'tuple', 1.2: 3.4, True: [1, 2, 3]}
{'name': 'satish'}

Access

In [ ]:
d1 = {'Id' : 1, 'Name' : 'Sejal', 'age' : 29, 'course' : 'ECE', 'marks' : {'Maths' : 89, 'Electronics' : 42, 'DSP' : 67, 'Network Systems' : 78}}

print(d1['Id'])
print(d1.get('age'))
print(d1['marks']['DSP'])

for key in d1:
  print(key,d1[key])

for key in d1.keys():
  print(key,':',d1[key],end=',')

print('\n')
for val in d1.values():
  print(val,end=',')

print('\n')
for item in d1.items():
  print(item[0],':',item[1],end=',')

1
29
67
Id 1
Name Sejal
age 29
course ECE
marks {'Maths': 89, 'Electronics': 42, 'DSP': 67, 'Network Systems': 78}
Id : 1,Name : Sejal,age : 29,course : ECE,marks : {'Maths': 89, 'Electronics': 42, 'DSP': 67, 'Network Systems': 78},

1,Sejal,29,ECE,{'Maths': 89, 'Electronics': 42, 'DSP': 67, 'Network Systems': 78},

Id : 1,Name : Sejal,age : 29,course : ECE,marks : {'Maths': 89, 'Electronics': 42, 'DSP': 67, 'Network Systems': 78},

Adding

In [ ]:
d2 = dict([(1,'name'),(2,'age'),(3,'course'),(4,'marks')])

d2[0] = 'Id'
print(d2)

d2[5] = 'gender'
print(d2)

d2.update({'fire':'cracker','action':'kaboom'})
print(d2)
print(d2.get(''))

{1: 'name', 2: 'age', 3: 'course', 4: 'marks', 0: 'Id'}
{1: 'name', 2: 'age', 3: 'course', 4: 'marks', 0: 'Id', 5: 'gender'}
{1: 'name', 2: 'age', 3: 'course', 4: 'marks', 0: 'Id', 5: 'gender', 'fire': 'cracker', 'action': 'kaboom'}

Edit

In [ ]:
d2[4] = 'scores'
print(d2)

{1: 'name', 2: 'age', 3: 'course', 4: 'scores', 0: 'Id', 5: 'gender'}

Delete

In [ ]:
d2 = {1: 'name', 2: 'age', 3: 'course', 4: 'scores', 0: 'Id', 5: 'gender'}

d2.pop(5)
print(d2)

d2.popitem() # LIFO
print(d2)

d2.popitem()
print(d2)

del d2[2]
print(d2)

d2.clear()
print(d2)

del d2

{1: 'name', 2: 'age', 3: 'course', 4: 'scores', 0: 'Id'}
{1: 'name', 2: 'age', 3: 'course', 4: 'scores'}
{1: 'name', 2: 'age', 3: 'course'}
{1: 'name', 3: 'course'}
{}

Operations

In [ ]:
d2 = {1: 'name', 2: 'age', 3: 'course', 4: 'scores', 0: 'Id', 5: 'gender'}

print(1 in d2)
print('name' in d2)

d3 = {'name': 'nitish', 'college': 'bit', 'sem': 5, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

print('subjects' in d3)
print('dsa' in 'subjects') # returns false as subjects is a key and not dictionary.

True
False
True
False

Functions

In [ ]:
d1 = {1:'tuple',1.2 : 3.4,True:[1,2,3]}
len(d1)

# all the below functions works on keys
print(min(d1))
print(max(d1))
print(sorted(d1,reverse=True))
# d1 = {(1,2,3):'tuple',1.2 : 3.4,True:[1,2,3],0:'zero'}
# print(any(d1))
# print(all(d1))

1
1.2
[1.2, 1]

In [ ]:
x,y = tuple(int(num) for num in (input("Enter 2 numbers : ")).split(" "))
print(x,type(x))
print(y,type(y))

Enter 2 numbers : 45 67
45 <class 'int'>
67 <class 'int'>

In [ ]:
x = 1234
while x > 0:
  a = x%10
  b = b* 10 + a
  x = x//10

print(b)

NameError: ignored

In [ ]:
[1,2,3].reverse

In [ ]:
li = [1,2,3,4,5]
N = 2
rev_list = [ele ** 3 if ele % N == 0 else ele for ele in li ]
print(rev_list)

[1, 8, 3, 64, 5]

In [ ]:
arr = list(map(int,input().split(" ")))
print(arr)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
arr.extend(2)
print(arr)

TypeError: ignored

In [ ]:
arr = [10,[40,20],30,50]

print(res_arr)

[10, 20, 30, 40, 50]

In [ ]:
def flatten(arr):
  res_arr = []

  for ele in arr:
    if isinstance(ele, list):
      res_arr.extend(flatten(ele))
    else:
      res_arr.append(ele)
  res_arr = sorted(res_arr,reverse=False)
  return res_arr

flatten([10,[40,20],30,50])

[10, 20, 30, 40, 50]

In [ ]:
330.0000000000000001 / 1

330.0

In [ ]:
Menu = [['Sweet corn',300],['cream tomato',100],['tacos',150]]

for item in Menu:
  if item[0] in ['Sweet corn','tacos']:
    item[1] = (item[1] * 1.1)
    print(item[1])
    item[1] = (item[1] * 1.1) // 1
    print(item[1])

print(Menu)

330.0
363.0
165.0
181.0
[['Sweet corn', 363.0], ['cream tomato', 100], ['tacos', 181.0]]

In [ ]:
score = 2
if False:
  score = 66

def batting():
  if True:
    score = 40

batting()
print(score)

2

In [ ]:
arr = [a+" "+b for a in ['Hello','Good'] for b in ['Dear','Bye']]
print(arr)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [ ]:
max([[1,2,6],[4,5,0],[]],key = sum)

[1, 2, 6]

In [ ]:
var =1
def ML():

  print(var)

ML()
print('outside',var)

1
outside 1

In [ ]:
li = [(0,2),(1,3),(2,4)]
result = sum(n for _,n in li)
print(result)

9

In [ ]:
a = index("aaabbccc")
a="".join(a)
print(a)

NameError: ignored

In [ ]:
s = "Hey man!! Its "

res = ""

s = s.strip()

for i in range(len(s)-1,0,-1):
  if s[i] != "":
    res = res + s[i]

print(res)

stI !!nam ye

In [ ]:
arr = [(1,2),(2,3),(2,3),(1,2),(5,6)]

li = [(a,b) for i,[a,b] in enumerate(arr) if not any ((d ==b and a==c) for c,d in arr[:i])]
print(li)

[(1, 2), (2, 3), (5, 6)]

In [ ]:
str1 = "PYcharm3"
print(str1[1:4], str1[:5], str1[-6:], str1[0:-1], str1[:-1])

Ych PYcha charm3 PYcharm PYcharm

In [ ]:
def countuniquewords(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
        arr2=[]
        if len(tuple(word)) == len(word) and len(word) > 3:
            ans += 1
    return ans

In [ ]:
countuniquewords("inps abccddf hghff asdf")

2

In [ ]:
def club_entry(ids):
  age_list = [2022 - int(string[1:5]) for string in ids] #blank1
  entry = []
  for i in age_list:
    if  i > 18:                 #blank2
      entry.append('You can Enter')
    else:
      entry.append('No Entry for you')
  return entry

In [ ]:
club_entry(['M2004Sam', 'F2001Riya', 'M1998Ani', 'F2005Diya'])

['No Entry for you', 'You can Enter', 'You can Enter', 'No Entry for you']